.main-index{
    margin: 10px 0;
    width: 95%;
    border: 1px solid salmon;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.main-index .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-index .menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-index .menu a{
    padding: 10px 50px;
    border: 1px solid tomato;
    border-radius: 20px;
    background: tomato;
    color: white;
    transition: all 0.3 ease-in;
    font-size: 14px;
}

.main-index .menu a:hover{
    color: tomato;
    background: white;
}
