*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --color-header: #1b4969;
    --color-body-1: #044bd9;
    --color-body-2: #f0f2f8;
}

body{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, var(--color-body-1), var(--color-body-2));
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-header);
}

header img{
    width: auto;
    height: 100%;
}

a{
    text-decoration: none;
}

header a{
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px;
}

header a i{
    color: white;
    font-size: 20px;
}

.main-index{
    margin: 20px 0;
    width: 90%;
    border: 1px solid ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.main-index .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-index .menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-index .menu a{
    padding: 10px 50px;
    border: 1px solid var(--color-body-1);
    border-radius: 20px;
    background: var(--color-body-1);
    color: white;
    transition: all 0.3 ease-in;
    font-size: 14px;
}

.main-index .menu a:hover{
    color: var(--color-header);
    background: white;
}

.rubrica{
    color: red;
}