.main-index{
    margin: 20px 0;
    width: 90%;
    border: 1px solid ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.main-index .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-index .menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-index .menu a{
    padding: 10px 60px;
    border: 1px solid var(--color-body-1);
    border-radius: 20px;
    background: var(--color-body-1);
    color: white;
    transition: all 0.3 ease-in;
    font-size: 14px;
}

.main-index .menu a:hover{
    color: var(--color-header);
    background: white;
}

.rubrica{
    color: red;
}