header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: salmon;
}

header img{
    width: auto;
    height: 100%;
}

a{
    text-decoration: none;
}

header a{
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px;
}

header a i{
    color: white;
    font-size: 20px;
}